<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
</head>
<body>
    {{> nav}}
    <main class="main-wrapper">
        {{{ contents }}}

        {{#if image }}
          <img src="{{image}}" alt="image" />
        {{/if}}

        {{#if genderTool }}
          <div class="gender">
            <input id="genderinput" class="gender__input" type="text" placeholder="Dein Name" />
            <div id="genderoutput" class="gender__result"></div>
          </div>
        {{/if}}
    </main>
    <script type="text/javascript" src="/scripts/script.js"></script>
</body>
</html>
